<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline';connect-src http://localhost:56325;img-src http://localhost:56325 'self';script-src 'self' 'unsafe-inline' 'unsafe-eval';object-src 'none';  media-src *">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>登录</title>
    <!--字体图标-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="font/css/font-awesome.min.css" rel="stylesheet" />
    <!--默认公共样式-->
    <link href="font/css/base.css" rel="stylesheet" />
    <!--本页样式-->
    <link href="css/login.css" rel="stylesheet" />
    <!--本页js-->
    <script src="cordova.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/app-common.js"></script>
    <script src="scripts/login.js"></script>
</head>
<body ng-app="mainApp">
    <header class="WebHead tc">
        <img src="images/cordova.png" class="w80 h80" />
    </header>
    <div class="LoginCont p30" ng-controller="loginCtrl">
        <form name="loginForm">
            <div class="loginInput p10 mt20">
                <input type="text" value="" class="userName" name="mobilePhone" placeholder="手机号" required ng-model="mobilePhone" />
                <i class="fa fa-times-circle fr mt5 userClose"></i>
                <span style="color:red" ng-show="loginForm.mobilePhone.$dirty && loginForm.mobilePhone.$invalid"></span>
                <span ng-show="loginForm.mobilePhone.$error.required">手机号是必须的。</span>
            </div>
            <div class="loginInput p10 mt20">
                <input type="password" value="" class="userPwd" placeholder="输入密码" required ng-model="password" />
                <i class="fa fa-times-circle fr mt5 userClose"></i>
                <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid"></span>
                <span ng-show="loginForm.password.$error.required">密码是必须的。</span>
            </div>
        </form>

        <div class="mt20">
            <a href="#">免费注册</a>
            <a href="#" class="fr">忘记密码</a>
        </div>
        <div class="mt20">
            <button type="button" class="btn btn-danger p10 boxb" ng-click="login()">登录</button>
        </div>
        <div class="mt20">
            <button type="button" class="btn btn-outline-danger p10 boxb">短信验证码登录</button>
        </div>
    </div>
    <script type="text/javascript">
        angular.module("mainApp", ['app-common']).config(function ($locationProvider) {
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false//必须配置为false，否则<base href=''>这种格式带base链接的地址才能解析
            });
        }).controller("loginCtrl", function ($scope, $http, webConfig, $authHttp, $location) {
            var returnUrl = $location.protocol() + "://" + location.host + "/index.html";
            var urlParam = $location.search().returnUrl;
            if (urlParam) {
                urlParam = decodeURIComponent(urlParam);
                if (urlParam.indexOf('/') == 0) {
                    returnUrl = urlParam;
                }
            }
            $scope.login = function () {
                var _mobilePhone = $scope.mobilePhone;
                var _password = $scope.password;
                if (!/^1[3-9]\d{9}$/.test(_mobilePhone)) {
                    alert("请输入正确的手机号!");
                    return;
                }
                if (!_password) {
                    alert("请输入密码!");
                    return;
                }
                var _data = {
                    MobilePhone: _mobilePhone,
                    Password: _password
                };
                $http({
                    method: "POST",
                    url: "http://localhost:56325/api/Member/Login",
                    data: _data
                }).then(function (response) {
                    console.log(response);
                    var sessionDb = window.sessionStorage;
                    var dataObj;
                    if (response.access_token) {
                        dataObj = response;
                    } else if (response.data) {
                        dataObj = response.data;
                    } else {
                        alert("授权失败");
                        return;
                    }
                    sessionDb.setItem(webConfig.accessTokenKey, dataObj.access_token);
                    sessionDb.setItem(webConfig.refreshTokenKey, dataObj.profile.refresh_token);
                    sessionDb.setItem(webConfig.authTimeKey, dataObj.profile.auth_time);
                    sessionDb.setItem(webConfig.expiresAtKey, dataObj.profile.expires_at);
                    location.replace(returnUrl);
                },
                    function (response) {
                        alert("操作失败");
                    });
            }
        });
    </script>
</body>
</html>