body{
    background-color:#f5f5f5;
}
header {
    width: 100%;
    min-height: 120px;
    background-color:#fff;
    background-image: url('../images/userpage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}
input:focus{
    outline:none;
}
.userImg {
    left: 10px;
    bottom: 10px;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px #fff;
    border: 1px solid #fff;
}
.Setup a{
    color:#fff;
    background-color:rgba(0,0,0,0.4);
    border-radius:15px;
    padding:5px 10px;
}
.userName {
    margin-left: 100px;
    margin-top: 40px;
    color:#fff;
    font-size:1.2rem;
}
.headCont{
    background-color:#fff;
    padding-left:100px;
    font-size:0.86rem;
}
.headCont a{
    color:#444;
}
/*内容*/
.OrderAct{
    background-color:#fff;
    border-bottom:1px solid #f0f0f0;
    border-top:1px solid #f0f0f0;
}
.OrderAct ul{
    overflow:hidden;
    font-size:0.7rem;
}
.OrderAct li{
    width:20%;
}
.OrderAct a {
    color: #666;
}
.OrderAct .fa {
    font-size: 1.3rem;
}
.spanIcon{
    color:#ff6a00;
    top:0;
    right:10px;
    z-index:1;
}
.spanIcon i {
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid #ff6a00;
    z-index: -1;
}
.spanIcon em, .AllOrder span {
    font-size: 0.8rem;
}
.AllOrder span, .AllOrder .fa-angle-right {
    line-height: 2.5rem;
}
.AllOrder .fa-angle-right {
    font-size: 1.4rem;
}
.AllOrder .fa-table, .ListOrder .fa-table {
    color: #fff;
    background-color: #ff6a00;
    border-radius: 4px;
}
.ListOrder{
    margin-bottom:70px;
}
.ListOrder li {
    background-color: #fff;
}
.ListOrder a{
    color:#444;
}
/*设置*/
.SetUpBox, .Address {
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
.SUHead{
    background-color:#fff;
    border-bottom:1px solid #ddd;
}
.SUHead .fa-angle-left{
    font-size:1.2rem;
}
.SUHead a .fa-home {
    color:#999;
    font-size:1.3rem;
}
/*设置中的收货地址设置*/
.Address {
    z-index: 1051;
}
.AddressList ul {
    border: 1px solid #ccc;
    background-color: #fff;
}
.AddressList li {
    border-bottom: 1px solid #ccc;
}
.AddressList li:last-child {
    border-bottom:0;
}
.AddressHead, .AddressTxt {
    width: 80%;
}
.AddressList .fa-check {
    color: #fff;
    top: 50%;
    font-size:1.2rem;
    margin-top:-8px;
}
.AddressList .addLi {
    background-color: #5e6b85;
    color:#fff;
}
/*新增地址*/
.NewAddress li, .EditAddress li{
    border-bottom: 1px solid #f0f0f0;
}
.NewAddressTxt {
    background-color: transparent;
    border: 0;
    width:80%;
}
.NewAddress .fa-angle-right, .EditAddress .fa-angle-right {
    font-size: 1.2rem;
}
/*修改地址 ↑↓*/
.setMup{
    color:#666;
    margin-bottom:50px;
}
.setMup input[type=checkbox] {
    width: 1.8rem;
    height: 1.8rem;
    background-size: 2rem;
    min-height: 0;
    margin-right: .25rem;
    background-image: url('../images/checkImg.png');
    background-repeat: no-repeat;
    -webkit-appearance: none;
    vertical-align: middle;
}
.setMup input[type=checkbox]:checked {
    background-image: url('../images/checkedImg.png');
}
.deleteBtn input[type=button]{
    border:0;
    background-color:transparent;
    color:#ff6a00;
}
/*end*/
/*底部pagBtm*/
.pagBtm {
    background: #fff;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.table {
    margin: 0;
}

.pagBtm .table td {
    border: 0;
    padding: 0;
    text-align: center;
    width: 25%;
}

.table a {
    color: #888;
    font-size: 0.8rem;
}

.table .fa {
    display: block;
    font-size: 21px;
    margin-bottom: 5px;
}